@media(max-width:767px){
    .hrst{
        padding-top: 0;
        padding-bottom: 120px;
        background-position: left bottom;
        background-size: cover;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .hrst-container{
        width: 100%;
        max-width: auto;
        gap: 29px;
    }
    .hrst-container-header{
        width: 100%;
        min-height: 70px;
        padding: 0 27px 0 20px;
        align-items: center;
        box-shadow: 0px 4px 4px 0px #24AB70;
        background-color: #F4FBF8;
    }
    .hrst-container-header-menu{
        display: none;
    }
    .hrst-container-header-button{
        gap: 11px;
        width: fit-content;
    }
    .hrst-container-header-button button{
        display: none;
    }
    .hrst-container-header-button img{
        display: inline-block;
    }
    .hrst-container-content{
        width: 95%;
        max-width: 335px;
        align-self: center;
    }
    .hrst-container-content-img{
        display: inline-block;
        width: 100%;
        height: 231.06991577148438px;
        box-shadow: 0px 7.5px 20.8333px -6.25px rgba(25, 42, 89, 0.2);
        border-radius: 4px;
        object-fit: cover;

    }
    .hrst-container-content h1{
        margin-top: 26px;
        font-size: 32px;
        line-height: 38px;
    }
    .hrst-container-content p{
        margin-top: 16px;
        font-size: 18px;
        line-height: 150%;
        color: #8794BA;
    }
    .hrst-container-content button{
        margin-top: 26px;
        width: 100%;
        min-height: 50px;
        max-width: none;
        text-align: center;
    }

    .body{
        padding-top: 32px;
        gap: 50px;
    }
    .slide1{
        max-width: 335px;
    }
    .slide1-tittle{
        margin-top: 22px;
        font-size: 24px;
        line-height: 28px;
    }
    .slide1-content{
        margin-top: 6px;
    }
    .slide1-content-text{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.25%;
        padding-right: 20px;
    }
    .slide1-content-button{
        display: none;
    }
    .slide1-container{
        margin-top: 30px;
        width: 880px;
    }
    .slide1-container-box{
        width: 280px;
        padding: 15.79px 11.91px 15.14px 11.91px;
    }
    .slide1-container-box-content{
        margin-top: 3px;
        align-items: center;
    }
    .slide1-container-box-content-right{
        height: 60px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .slide1-container-box-button{
        margin-top: 8px;
    }
    .slide2{
        max-width: 335px;
        flex-direction: column;
        gap: 35px;
    }
    .slide2-content-tittle{
        font-size: 24px;
        line-height: 28px;
    }
    .slide2-content-text{
        margin-top: 9.5px;
        font-size: 16px;
        line-height: 24px;
    }
    .slide2-content-container-top{
        gap: 16px;
    }
    .slide2-content-container-top-box{
        max-width: 160px;
        padding: 24px 19px 0.16px 24px;
    }
    .slide2-content-container-bottom{
        margin-top: 10px;
        gap: 0;
        align-items: flex-end;
        padding: 16px 15px 16px 24px;
    }
    .slide2-content-container-bottom-content{
        max-width: 168px;
    }
    .slide2-content-container-bottom-img{
        max-width: 128px;
    }
    .slide2-img{
        max-width: 335px;
        min-height: 362.239990234375px
    }
    .slide3{
        max-width: 335px;
        flex-direction: column;
        gap: 0;
    }
    .slide3-left{
        padding: 40px 20px 28px 40px;
        margin-top: 19px;
    }

    .slide3-left-img-1{
        right: -40px;
    }
    .slide3-left-img-2{
        right: 0;
    }
    .slide3-right-button-mobile{
        display: block;
    }
    .slide3-right-text-mobile{
        display: block;
        margin-top: 9px;
    }
    .slide3-right-button-desktop{
        display: none;
    }
    .slide3-right-text-desktop{
        display: none;
    }
    .slide3-right{
        margin-top: 30px;
    }
    .slide3-right-input{
        margin-top: 14px;
        gap: 18.64px;
    }
    .slide3-right-submit{
        margin-top: 9px;
    }
    .slide4-container{
        max-width: 325px;
    }
    .slide4-container-tittle{
        margin-top: 20px;
        font-size: 24px;
        line-height: 28px;
    }
    .slide4-container-bottom{
        margin-top: 20px;
        justify-content: center;
        gap: 20px;
    }
    .footer-container-menu{
        display: none;
    }
    .hrst-container-header-logo{
        width: 138.01690673828125px;
        height: 30px;
    }
    .footer-container-logo{
        width: 138.01690673828125px;
        height: 30px;
    }
}